<launch>
  <arg name="_rviz" default="true"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find hratc2017_entry)/map/empty_world.yaml"/>
  <include file="$(find p3at_2dnav)/launch/amcl.launch"/>
  <include file="$(find p3at_2dnav)/launch/move_base.launch"/>
  <node name="rviz_navigation" pkg="rviz" respawn="false" type="rviz" args="-d $(find p3at_2dnav)/navigation.rviz" if="$(arg _rviz)"/>
</launch>
