<?xml version="1.0"?>
<launch>
  <arg name="simulation" default="true"/>
  <arg name="robot" default="p3at"/>
  <arg name="rviz" default="true"/>
  <group ns="$(arg robot)">
    <include file="$(find hratc2017_entry)/launch/obstacle_avoider.launch"/>
    <node name="twist_mux" pkg="twist_mux" type="twist_mux" output="screen">
      <rosparam file="$(find hratc2017_entry)/config/twist_mux_params.yaml" command="load"/>
      <remap from="cmd_vel_out" to="/RosAria/cmd_vel" unless="$(arg simulation)"/>
      <remap from="cmd_vel_out" to="cmd_vel" if="$(arg simulation)"/>
    </node>
  </group>
  <include file="$(find p3at_2dnav)/launch/navigation.launch">
    <arg name ="rviz" value="$(arg rviz)"/>
  </include>
</launch>
