<?xml version="1.0"?>
<launch>
  <arg name="_robot" default="p3at"/>
  <group ns="$(arg _robot)">
    <include file="$(find hratc2017_entry)/launch/landmine_analyzer.launch"/>
    <include file="$(find hratc2017_entry)/launch/metal_scanner.launch"/>
    <include file="$(find hratc2017_entry)/launch/waypoints_controller.launch"/>
    <!--<node name="twist_mux" pkg="twist_mux" type="twist_mux" output="screen">
      <rosparam file="$(find hratc2017_entry)/config/twist_mux_params.yaml" command="load"/>
      <remap from="cmd_vel_out" to="cmd_vel"/>
    </node> -->
  </group>
  <include file="$(find p3at_2dnav)/launch/navigation.launch"/>
</launch>
