<?xml version="1.0"?>
<launch>
    <node name="pose_estimator" pkg="hratc2017_entry" type="pose_estimator_node" output="screen" />

    <!--node pkg="hratc2017_framework" type="gps_to_odom" name="gps_to_odom" /-->

    <!-- EKF for absolute localization (clearpath) -->
    <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf" output="screen">
        <param name="base_footprint_frame" value="base_link"/>
        <remap from="robot_pose_ekf/odom_combined" to="robot_pose_ekf/odom"/>
        <remap from="odom" to="odom_w_offset"/>
        <remap from="imu_data" to="imu_w_offset"/>
        <remap from="gps" to="gps/odom"/>
        <param name="output_frame" value="odom"/>
        <param name="freq" value="100.0"/>
        <param name="sensor_timeout" value="1.0"/>
        <param name="odom_used" value="true"/>
        <param name="imu_used" value="true"/>
        <param name="imu_absolute" value="true"/>
        <param name="vo_used" value="false"/>
        <param name="gps_used" value="false"/>
        <param name="debug" value="false"/>
        <param name="self_diagnose" value="false"/>
    </node>

</launch>
