<?xml version="1.0"?>
<launch>
  <arg name="_plot" default="true"/>
  <arg name="_robot" default="p3at"/>
  <arg name="_rviz" default="true"/>
  <include file="$(find hratc2017_framework)/launch/run_simulation.launch"/>
  <include file="$(find hratc2017_entry)/launch/entry.launch">
    <arg name="_plot" value="$(arg _plot)"/>
    <arg name="_robot" value="$(arg _robot)"/>
    <arg name="_rviz" value="$(arg _rviz)"/>
  </include>
</launch>
